@{
    ViewData["Title"] = "Training Slides";
}

<h2>Available Training Slides</h2>

<iframe src='https://uwnetid-my.sharepoint.com/personal/navjodh_uw_edu/_layouts/15/WopiFrame.aspx?sourcedoc={5518340f-5fb5-4a78-82eb-3fe7c72703e0}&action=embedview&wdAr=1.3333333333333332' 
        width='722px' height='565px' 
        frameborder='0'>This is an embedded <a target='_blank' href='https://office.com'>Microsoft Office</a> presentation, powered by <a target='_blank' href='https://office.com/webapps'>Office Online</a>.</iframe>
