@model ModulesViewModel

@{
    ViewData["Title"] = "Module Index";
    Layout = "_Layout";
}

@if (Model == null || Model.Modules == null) { 
    <h2><strong>Sorry, no content is available at this time</strong></h2>
} else {
    <div class="row">
        <h3>Modules</h3>
        <ol>
            @foreach (var module in Model.Modules) {
                var path = "/module/" + module.ModuleId;

                <li><a href=@path>@module.Title</a></li>
            }
        </ol>
    </div>
}

@section Scripts {
    <script type = "text/javascript">
                $(document).ready(function() {
        $("#quiz").submit(function(e) {
                // validate the user's answers
                var totalCorrect = 0;
                var expectedIndicies = [1, 2, 3, 1];
                var total = expectedIndicies.length;

                for (var i = 0; i < expectedIndicies.length; i++)
                {
                    var id = "input[name=practice" + (i + 1) + "]:checked";
                    var userIndex = parseInt($(this).find(id).val());

                    if (expectedIndicies[i] == userIndex)
                    {
                        totalCorrect += 1;
                    }
                }

                if (totalCorrect !== total)
                {
                    alert(totalCorrect
                          + "/"
                          + total
                          + " correct, please try again");
                }
                else
                {
                    alert(totalCorrect
                          + "/"
                          + total
                          + " correct, good job!");
                }

                e.preventDefault();
            });
        });
    </script>
}