@model Software_Management_Course_Website.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome To Software Management</h1>

<div>Please select a Course</div>

<table class="table table-hover">
    <tbody>
        @foreach(Course c in Model.Courses)
        {
            <tr>
                <td class="text-center">
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@c.CourseId">
                        @Html.DisplayFor(m => c.Name)                        
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>